/* Add a black background color to the top navigation */
.topnav {
    background-color: #fafafa;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #BCDFF2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fafafa;
    color: #000000;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #fafafa;
    color: #BCDFF2;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
#navname {
     color: #000000;
    font-size: 30px;
   padding-left: 25px;
}

#navdots {
    color: #BCDFF2; 
    font-size:35px;
}

body {
    background-color: #fafafa; 
    font-family: 'Karla', 
        sans-serif;
}

#outer-box {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 140px;
}
#inner-box {
    padding-left: 35px;
}

#mainheadline{
    font-size:45px;
}

#subheadline{
    color: #8d949e;
    font-size: 22px;
}

#name {
    font-size: 85px; 
    color: #BCDFF2; 
}
#dots {
    color: #000000; 
    font-size:85px;
}

/*button deets*/

#lets-go-btn {
  background-color: #E3EEB6;
  color: #ffffff;
  font-weight:bold;
  padding: 13px 25px;
  border-radius: 8px;
  text-align: center;
  align: center;
  text-decoration: none;
  font-size: 20px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    color: #cdd0d5;
    text-align: center;
    font-size: 11px;
    padding-bottom: 1px;
}
