/* Add a black background color to the top navigation */
.topnav {
    background-color: #fafafa;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: right;
    display: block;
    color: #BCDFF2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #fafafa;
    color: #000000;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #fafafa;
    color: #BCDFF2;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}
#navname {
     color: #BCDFF2;
    font-size: 50px;
   padding-left: 25px;
    text-align: left;
}

#navdots {
    color: #000000; 
    font-size:50px;
    text-align: left;
}

body {
    background-color: #fafafa; 
    font-family: 'Karla', 
        sans-serif;
}

#papa-box {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;
    padding-left: 100px;
    padding-top: 70px;
}

#mama-box {
    font-size:45px;
    padding-bottom: 25px;
}

#baby-box {
    padding-left: 35px;
}

#tiny-box {
    padding-top: 10px;
    padding-left: 35px
}

#mainheadline{
    font-size:45px;
    line-height: 80%;
}

#subheadline{
    color: #8d949e;
    font-size: 16px;
}

#name {
    font-size: 85px; 
    color: #BCDFF2; 
}
#dots {
    color: #000000; 
    font-size:85px;
}

/*button deets*/

.lets-go-btn {
  font-size: 20px;
  background-color: #E3EEB6;
  border: none;
  color: #ffffff;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
  position: absolute;
  middle: 50%;

}
#buttony {
      padding-top: 5px;
    padding-left: 370px;
}

#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #fafafa;
    padding-bottom: 1px;
}

#legal-jargon {
    font-size: 9px;
    color: #cdd0d5;
    text-align: center;
}
